.DS_Store
videoLog/

/zerogMaracas/M4L/javaDev/zgMaracas/dist/
/zerogMaracas/M4L/javaDev/zgMaracas/build/
/zerogMaracas/M4L/javaDev/zgMaracas/nbproject/private/
/tests/javadev/seacreatures/nbproject/private/
/tests/javadev/seacreatures/build/
/tests/javadev/seacreatures/dist/
/tests/javadev/maxexternal_ocean/nbproject/private/
/tests/javadev/maxexternal_ocean/dist/
/tests/javadev/maxexternal_ocean/build/